5372-auto-reply-to-google-play-store-reviews-with-gpt-4o-and-sentiment-analysis.json
{
  "id": "kJA2nRiKDRcvKa1d",
  "meta": {
    "instanceId": "f72cde31dbc45f25c4862cabd0d3f8e8f469ec75575f9316329a5ee265ad866e"
  },
  "name": "Auto-Reply to Google Play Store Reviews with GPT-4o & Sentiment Analysis by Arunava",
  "tags": [
    {
      "id": "rNGtj8zCUpVAzXUT",
      "name": "ASO",
      "createdAt": "2025-08-10T11:38:36.502Z",
      "updatedAt": "2025-08-10T11:38:36.502Z"
    },
    {
      "id": "DuAPir0MmLnPtE69",
      "name": "Customer Experience",
      "createdAt": "2025-09-07T15:02:18.590Z",
      "updatedAt": "2025-09-07T15:02:18.590Z"
    }
  ],
  "nodes": [
    {
      "id": "a352553f-de1d-468e-bec5-41a4faa7d2fa",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        3456,
        2064
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.1
    },
    {
      "id": "18b44709-7a71-42c4-9cc4-4641609cd5fe",
      "name": "Verify Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3712,
        2064
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=You're an senior customer success assistant. Your task is to review customer reviews, and ratings along with the summary of analysis that has been provided you.\n\nCheck if the the sentiment analysis is accurate or it has missed some important factors and need/message of user. \n\nPlease analyze the sentiment along with the review content and ratings provided below:\nSentiment summary: {{ $json.message.content }}\nReview Content: {{ $json.reviews[0].comments[0].userComment.text }}\nRatings: {{ $json.reviews[0].comments[0].userComment.starRating }} out of 5 stars\n\nBased on your understanding, reply a summary of sentiment analysis which covers everything that the user has mentioned along with user rating."
            }
          ]
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "92afb1e8-bfa9-4966-ad83-0235ae8099c1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1616
      ],
      "parameters": {
        "width": 560,
        "height": 700,
        "content": "## 🛠️ Setup Instructions for This Workflow\n\nTo make this Play Store AI review responder work for your app, you need to update the following nodes:\n\n🔹 1. HTTPS Node (Fetch Reviews from Google Play)\nReplace the package name with your actual app's package.\n\nAdd Google Service Account credentials.\n→ Use Google Cloud to generate service account keys and give the account access to your Play Console (View app reviews permission).\n\n🔹 2. OpenAI Nodes\nAdd your OpenAI API credentials (chat model like gpt-4o or gpt-4o-mini). You can choose to switch models or temperature as needed.\n\n🔹 3. AI Agent Node\nUpdate: Your app name, Core features, Custom reply logic (positive/negative/bug/etc.), Escalation contacts, Feel free to tweak or expand the prompt with new tone guidelines, emojis, or exam-specific logic.\n\n🔹 4. Slack Node (Optional)\nIf you want to receive a log of each AI-generated reply, configure this node: Create a Slack App > Get a bot token and invite it to your channel\n\nNot required? → Simply delete or disable this node.\n\n## 🙋‍♂️ Want Me to Set It Up For You?\nIf you'd rather skip the hassle of configuring all this yourself —\njust reach out to me at 📩 imarunavadas@gmail.com and I’ll set it up for your app.\n\nLet’s automate the boring stuff so you can focus on growth 🚀"
      },
      "typeVersion": 1
    },
    {
      "id": "6dc2b47a-3907-49e0-be88-a7ce97b8762b",
      "name": "User Review Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "notes": "{\n  \"brand\": \"App Name\",\n  \"features\": [\n    \"Feature 1\",\n    \"Feature 2\",\n    \"Feature 3\",\n    \"Feature 4\",\n    \"Feature 5\",\n  \"tone_guidelines\": {\n    \"voice\": \"friendly, helpful, and warm\",\n    \"length_limit\": \"350 characters\",\n    \"greeting\": \"Hi [UserName] 👋\",\n    \"signature\": \"– Your Name, Company Name\"\n  },\n  \"escalation_contact\": {\n    \"whatsapp\": \"+91 9999999999\",\n    \"email\": \"help@youremail.in\"\n  },\n  \"review_reply_rules\": [\n    \"Never overpromise on fixes.\",\n    \"If 4-star review is extremely positive, thank and ask what can improve.\",\n    \"Always acknowledge user concern or praise.\",\n    \"Avoid repeating user’s words verbatim unless necessary.\",\n    \"When confused, lean on support tone and contact sharing.\"\n  ]",
      "position": [
        4592,
        2336
      ],
      "parameters": {
        "sessionKey": "yourapp_memory",
        "sessionIdType": "customKey",
        "contextWindowLength": 1
      },
      "typeVersion": 1.3
    },
    {
      "id": "f9b611d1-0569-4c75-9a28-12e6bfcd34f1",
      "name": "OpenAI GPT 4o mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4416,
        2336
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "c482b5a0-9392-4771-9ce3-271681f778ec",
      "name": "Post Reply to Play Store",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3456,
        2384
      ],
      "parameters": {
        "url": "=https://androidpublisher.googleapis.com/androidpublisher/v3/applications/your.app.package.name/reviews/{{ $('HTTPS1').item.json.reviews[0].reviewId }}:reply",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"replyText\": \"{{$node['AI Agent1'].json['output']}}\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "typeVersion": 4.2
    },
    {
      "id": "31a40d65-d98c-4f3b-a0c0-2d5bb1e15acb",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        3728,
        2384
      ],
      "webhookId": "1076c010-ec99-4e03-88be-320cb756585e",
      "parameters": {
        "text": "=📢 *Attention: New Review*  \n\n👤 *Name:* {{ $('HTTPS1').item.json.reviews[0].authorName }} \n⭐ *Rating:* {{ $('HTTPS1').item.json.reviews[0].comments[0].userComment.starRating }}/5 \n💬 *Review:*{{ $('HTTPS1').item.json.reviews[0].comments[0].userComment.text }}  \n\n🤖 *Reply by AI:* \n{{ $json.result.replyText }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#general"
        },
        "otherOptions": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "f1f682b0-be50-450c-b760-7af22914dbca",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "disabled": true,
      "position": [
        3440,
        1744
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6b71fe11-122a-497e-874a-699198285a53",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        1616
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 280,
        "content": "## Check for New Reviews"
      },
      "typeVersion": 1
    },
    {
      "id": "fea91d7c-e178-4680-b5fb-54272f2cc539",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        1616
      ],
      "parameters": {
        "width": 300,
        "height": 280,
        "content": "## Fetch Reviews from Play Store"
      },
      "typeVersion": 1
    },
    {
      "id": "b67081bc-22e3-45cf-a2ca-981564e62695",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        1616
      ],
      "parameters": {
        "color": 4,
        "width": 300,
        "height": 280,
        "content": "## Filter Unreplied Reviews"
      },
      "typeVersion": 1
    },
    {
      "id": "70cd8087-d035-4084-99df-440e7bbb0560",
      "name": "Filter1",
      "type": "n8n-nodes-base.if",
      "position": [
        4048,
        1744
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "3c5d5310-656b-46f1-88b4-b8ffd6d3548f",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.reviews[0].comments[1].developerComment.text }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "162a14ea-fe4c-4fd9-9e55-99b901bb3e9c",
      "name": "HTTPS1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3728,
        1744
      ],
      "parameters": {
        "url": "https://androidpublisher.googleapis.com/androidpublisher/v3/applications/your.app.package.name/reviews",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "typeVersion": 4.2
    },
    {
      "id": "7f17926d-c577-40e8-8c58-572fbd21f9d3",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4288,
        1616
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 280,
        "content": "## Detect Review Sentiment"
      },
      "typeVersion": 1
    },
    {
      "id": "25dd23d9-9094-44b0-971e-6b5cc6e2d93d",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4368,
        1744
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=As a customer success assistant, your task is to conduct a thorough analysis of the provided user review and its associated rating. Begin by examining the sentiment expressed in the review, identifying whether it is positive, negative, or neutral. Pay close attention to any discrepancies that may arise between the numerical rating (out of 5 stars) and the qualitative content of the review.\n\nIn your summary note, please include the following key components:\n\nKey Points: Highlight the main themes and messages conveyed in the review, noting any specific features or aspects of the product or service that the user has commented on.\n\nUser Experience: Describe the overall experience of the user as reflected in the review, including their satisfaction, frustrations, or any specific incidents that may have influenced their perspective.\n\nNotable Quotes: Extract and present any particularly impactful or revealing quotes from the review that encapsulate the user's sentiment or highlight significant points.\n\nRating Alignment: Assess whether the given rating aligns with the overall sentiment and content of the review. Discuss any inconsistencies, such as a high rating paired with critical feedback or a low rating despite positive remarks.\n\nActionable Steps: If applicable, suggest potential actions or improvements that could be taken in response to the feedback provided in the review. This could include addressing specific issues raised, enhancing customer support, or implementing product improvements.\n\nPlease analyze the review content and ratings provided below:\n\nReview Content: {{ $json.reviews[0].comments[0].userComment.text }}\nRatings: {{ $json.reviews[0].comments[0].userComment.starRating }} out of 5 stars"
            }
          ]
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "5776ab89-a7f9-4f7a-aea0-d169eb2d0e08",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        1936
      ],
      "parameters": {
        "color": 6,
        "width": 260,
        "height": 280,
        "content": "## Merge Review + Sentiment"
      },
      "typeVersion": 1
    },
    {
      "id": "4f2992e6-1e00-45eb-96e1-c8b8e7fa8845",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        1936
      ],
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 280,
        "content": "## Verify Sentiment Analysis & Review"
      },
      "typeVersion": 1
    },
    {
      "id": "eab1b167-8c48-439e-94bd-3a2d4e9d7539",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4080,
        1936
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 280,
        "content": "## Merge Inputs for Reply"
      },
      "typeVersion": 1
    },
    {
      "id": "6c710ddd-f558-46f9-870f-8c69b7a934e3",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4352,
        1936
      ],
      "parameters": {
        "color": 6,
        "width": 400,
        "height": 600,
        "content": "## AI Customer Success Assistant"
      },
      "typeVersion": 1
    },
    {
      "id": "4a211774-8088-45d5-8ee0-707e22002905",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        2256
      ],
      "parameters": {
        "color": 5,
        "width": 260,
        "height": 280,
        "content": "## Post Reply to Play Store"
      },
      "typeVersion": 1
    },
    {
      "id": "476e836d-af99-4666-abce-06f3776e616a",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        2256
      ],
      "parameters": {
        "color": 4,
        "width": 260,
        "height": 280,
        "content": "## Send Reply Log to Slack"
      },
      "typeVersion": 1
    },
    {
      "id": "30a4a6e5-6a41-445d-a0fd-f302bf4458e9",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4384,
        2064
      ],
      "parameters": {
        "text": "=You are a friendly and thoughtful Customer Success Assistant for the {app short desription}, {app name}.\n\nYour job is to craft short, personalized replies to Play Store reviews using the input below.\n\nConstraints:\n- Your reply must not exceed **350 characters**.\n- Avoid sounding robotic or overly formal.\n- Always address the user by their first name.\n\nInput:\nReviewer Name: {{ $json.reviews[0].authorName }}\nStar Rating: {{ $json.reviews[0].comments[0].userComment.starRating }} out of 5\nReview Text: \"{{ $json.reviews[0].comments[0].userComment.text }}\"\nSentiment Summary: {{ $json.message.content }}\n\nReply Guidelines:\n1. If the review is **positive** and **rating is 4 or 5**, express genuine appreciation.\n   - Optionally mention a relevant feature like “Feature 1”, “Feature 2”, or “Feature 3”.\n   - If it’s 4 stars with strong praise, thank them and gently ask what could improve to 5.\n\n2. If the review contains **issues, bugs, or confusion**, apologize sincerely.\n   - Offer help via Email: support@yourcompany.com\n\n3. If the user mentions {keywords}:\n   - Mention how {your app} helps for that {problem} (via feature 1, feature 2, or feature 3).\n\n4. If the user's review sentiment is positive and has given 4 or 5 star rating:\n   - Thank them and suggest exploring other features like “Feature 1, Feature 2, Feature 3, Feature 4, Feature 5”\n\n5. Don't add line breaks, and try adding contextual emojis based on sentiment of the review.\n\nNow craft a human-sounding, concise, emotionally intelligent reply:",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2
    },
    {
      "id": "02ad36f9-66e6-4d0c-a05e-56bc3f443eea",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        4160,
        2064
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ffbedf0-713e-4490-b451-8598517ed332",
  "connections": {
    "HTTPS1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Verify Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Post Reply to Play Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Analysis": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTPS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "User Review Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Post Reply to Play Store": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}