workflows/5389-monetize-workflows-with-x402-payment-protocol-and-1shot-api.json
{
  "id": "NcDW0SZYkQx6JZjP",
  "meta": {
    "instanceId": "62f017ec8f130d172e2e5f39bbf09515036bfd403dfa60fe06f5ab14b78705d0",
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 17",
  "tags": [],
  "nodes": [
    {
      "id": "8229e54d-0a9b-4aad-80c3-d6bcb290e13a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1168,
        464
      ],
      "webhookId": "92c5ca23-99a7-437d-85da-84aef8bd2a25",
      "parameters": {
        "path": "x402-test",
        "options": {},
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "9f1d0fb6-b168-4798-956f-28f40aa1ed0f",
      "name": "On Successful Payment Simulation",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        368
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "81c67679-e256-4fd2-bed7-8f4272c2392b",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.success.toString() }}",
              "rightValue": "true"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "60373ae6-1c99-49fa-b6af-6e97e5cddd5c",
      "name": "Response: 200 - Payment Successful",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        176,
        176
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "text",
        "responseBody": "=\"Payment Received! Tx Hash: {{ $json.transactionHash }}\""
      },
      "typeVersion": 1.3
    },
    {
      "id": "d1fd0b4a-ed81-477b-9f93-491224935e11",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        112
      ],
      "parameters": {
        "color": 6,
        "width": 536,
        "height": 492,
        "content": "## x402 Payment Endpoint \n\nThis workflow fragment can be used to monetize any workflow you can build in n8n by accepting stablecoin payments via an API call.\n\nLearn more about the [x402 payment](https://www.x402.org/) protocol. \n\nWatch the [YouTube tutorial](https://youtu.be/sqLUpR6t--0) for a complete walkthrough.\n@[youtube](sqLUpR6t--0)"
      },
      "typeVersion": 1
    },
    {
      "id": "fbeea3cd-7c7e-4ef8-9445-25eda541ae72",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        224
      ],
      "parameters": {
        "width": 584,
        "height": 208,
        "content": "## Configure Payment Tokens\n\n1. Log into 1Shot API and create an API key & Secret, then use those & your business ID to create an n8n credential for the 1Shot API nodes. \n2. Set the `Payment Token Configs` to use the payment token(s) you want to accept, the price and wallet to receive payments in. "
      },
      "typeVersion": 1
    },
    {
      "id": "61f6bdd8-3639-4a20-88b9-9ddfdde145c4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 5,
        "width": 496,
        "height": 168,
        "content": "## Put your workflow down here \n\nOnce the payment transaction has been confirmed, replace the `Response: 200 - Payment Successful` block with your workflow which responds to the user with the appropriate premium content. "
      },
      "typeVersion": 1
    },
    {
      "id": "dc36403b-9c0b-4fc6-b5ae-96efe2e6a045",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        656
      ],
      "parameters": {
        "color": 4,
        "width": 840,
        "height": 280,
        "content": "## Example Curl Command\n\nGenerate x-payment headers with the 1Shot API [x402 tool](https://1shotapi.com/tools). You can test the webhook endpoint with a command like this (be sure to use a properly formatted x-payment header payload): \n\n```sh\n# swap out the URL here for you webhook URL endpoint\ncurl -X GET \\\n  https://n8n.1shotapi.dev/webhook-test/92c5ca23-99a7-437d-85da-84aef8bd2a25 \\\n  -H \"x-payment: YOUR-BASE64-ENCODED-PAYMENT-PAYLOAD\" \\\n  -H \"User-Agent: CustomUserAgent/1.0\" \\\n  -H \"Accept: application/json\"\n```"
      },
      "typeVersion": 1
    },
    {
      "id": "5c909ee4-c658-46a6-809d-0c83d2fb1622",
      "name": "Response: Missing or Invalid Payment Headers1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -496,
        560
      ],
      "parameters": {
        "options": {
          "responseCode": 402
        },
        "respondWith": "json",
        "responseBody": "={\n  \"x402Version\": \"1\",\n  \"error\": \"{{ $('Validate & Verify X-Payment Header').item.json.error.errorMessage }}\",\n  \"accepts\": {{ JSON.stringify($('Validate & Verify X-Payment Header').item.json.error.paymentConfigs) }}\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "210c8b8f-5631-4f91-a031-58f7f38795c1",
      "name": "Validate & Verify X-Payment Header",
      "type": "n8n-nodes-base.code",
      "onError": "continueErrorOutput",
      "position": [
        -720,
        464
      ],
      "parameters": {
        "jsCode": "const payTo = $input.first().json.payTo;\nconst timeOut = $input.first().json.timeOut;\nconst resourceDescription = $input.first().json.resourceDescription;\nconst paymentTokens = $input.first().json.paymentTokens;\n\n// this function will split the signature from the user into r,s & v components\nfunction splitSignature(sigHex) {\n  // Remove \"0x\" prefix if present\n  const hex = sigHex.startsWith(\"0x\") ? sigHex.slice(2) : sigHex;\n\n  // Convert hex to byte array\n  const bytes = new Uint8Array(hex.length / 2);\n  for (let i = 0; i < bytes.length; i++) {\n    bytes[i] = parseInt(hex.substr(i * 2, 2), 16);\n  }\n\n  if (bytes.length !== 65) {\n    throw new Error(`Invalid signature length: got ${bytes.length} bytes`);\n  }\n\n  // Convert byte ranges to hex strings\n  const toHex = (arr) =>\n    \"0x\" + Array.from(arr).map(b => b.toString(16).padStart(2, \"0\")).join(\"\");\n\n  const r = toHex(bytes.slice(0, 32));\n  const s = toHex(bytes.slice(32, 64));\n\n  // Normalize v\n  let v = bytes[64];\n  if (v === 0) v = 27;\n  else if (v === 1) v = 28;\n  else if (v !== 27 && v !== 28 && v >= 35) {\n    v = (v & 1) ? 27 : 28; // EIP-155\n  }\n\n  const vHex = \"0x\" + v.toString(16).padStart(2, \"0\");\n\n  return { r, s, v: vHex };\n}\n\n// this will make sure our x-payment header contains all necessary components\nfunction validateXPayment(obj) {\n  // Define the expected structure and types\n  const requiredShape = {\n    x402Version: \"string\",\n    scheme: \"string\",\n    network: \"string\",\n    payload: {\n      authorization: {\n        from: \"string\",\n        to: \"string\",\n        value: \"string\",\n        validAfter: \"string\",\n        validBefore: \"string\",\n        nonce: \"string\"\n      },\n      signature: \"string\"\n    }\n  };\n\n  const missing = [];\n\n  function checkShape(expected, actual, path) {\n    for (const key in expected) {\n      const currentPath = path ? path + \".\" + key : key;\n\n      if (!(key in actual)) {\n        missing.push(\"Missing field: \" + currentPath);\n      } else if (typeof expected[key] === \"object\") {\n        if (typeof actual[key] !== \"object\" || actual[key] === null) {\n          missing.push(\"Invalid type at \" + currentPath + \": expected object\");\n        } else {\n          checkShape(expected[key], actual[key], currentPath);\n        }\n      } else {\n        if (typeof actual[key] !== expected[key]) {\n          missing.push(\n            \"Invalid type at \" + currentPath +\n            \": expected \" + expected[key] +\n            \", got \" + typeof actual[key]\n          );\n        }\n      }\n    }\n  }\n\n  checkShape(requiredShape, obj, \"\");\n\n  if (missing.length > 0) {\n    return missing.join(\"; \");\n  }\n  return \"valid\";\n}\n\n// this function will ensure the x-payment header is for one of our supported\n// networks, is for the correct amount, and pays the right address\nfunction verifyPaymentDetails(obj, config, payTo) {\n  const errors = [];\n\n  // 1. Check that network exists in config\n  const network = obj.network;\n  const configEntry = Object.values(config).find(\n    (entry) => entry.network.toLowerCase() === (network || \"\").toLowerCase()\n  );\n\n  if (!configEntry) {\n    errors.push(\"Invalid or unsupported network: \" + network);\n  }\n\n  // 2. Check value >= maxAmountRequired\n  if (configEntry) {\n    const required = BigInt(configEntry.maxAmountRequired);\n    let actual;\n\n    try {\n      actual = BigInt(obj.payload.authorization.value);\n    } catch (e) {\n      errors.push(\"Invalid value: must be numeric string\");\n    }\n\n    if (typeof actual !== \"undefined\" && actual < required) {\n      errors.push(\n        `Value too low: got ${actual}, requires at least ${required}`\n      );\n    }\n  }\n\n  // 3. Check 'to' matches payTo (case-insensitive)\n  const toAddr = obj.payload?.authorization?.to;\n  if (!toAddr) {\n    errors.push(\"Missing 'to' field in authorization\");\n  } else if (toAddr.toLowerCase() !== payTo.toLowerCase()) {\n    errors.push(`Invalid 'to' address: expected ${payTo}, got ${toAddr}`);\n  }\n\n  return errors.length > 0 ? errors.join(\"; \") : \"valid\";\n}\n\n\n// this helper function will convert our simple payment configs into an x402 \n// error response \nfunction transformConfig(config, payTo, timeout, resource, resourceDescription) {\n  return Object.values(config).map(entry => ({\n    scheme: \"exact\",\n    network: entry.network,\n    maxAmountRequired: entry.maxAmountRequired,\n    resource: resource, \n    description: resourceDescription,\n    mimeType: \"\",\n    payTo: payTo,\n    maxTimeoutSeconds: timeout, // passed in as argument\n    asset: entry.tokenAddress,\n    extra: {\n      name: entry.name,\n      version: entry.version\n    }\n  }));\n}\n\nconst accepts = transformConfig(paymentTokens, payTo, timeOut, $input.first().json.webhookUrl, resourceDescription);\n$input.first().json.accepts = accepts;\n\n// try to decode the x-payment header if it exists\ntry {\n    // Decode the x-payment header from base64\n    const xPaymentHeader = $input.first().json.headers['x-payment'];\n    const decodedXPayment = Buffer.from(xPaymentHeader, 'base64').toString('utf-8');\n\n    // Parse the decoded value into a JSON object\n    const decodedXPaymentJson = JSON.parse(decodedXPayment);\n\n    const validation = validateXPayment(decodedXPaymentJson)\n    if (validation != \"valid\") {\n      return { \n        error: {\n          errorMessage: validation, \n          paymentConfigs: accepts\n        } \n      };\n    }\n\n    const verification = verifyPaymentDetails(decodedXPaymentJson, paymentTokens, payTo);\n    if (verification != \"valid\") {\n      return {\n        error: {\n          errorMessage: verification,\n          paymentConfigs: accepts\n        }\n      }\n    }\n  \n    // Add the parsed JSON object to the input\n    $input.first().json.decodedXPayment = decodedXPaymentJson;\n    console.log(\"asdf:\", decodedXPaymentJson)\n\n    const splitSig = splitSignature(decodedXPaymentJson.payload.signature);\n    $input.first().json.decodedXPayment.payload.r = splitSig.r;\n    $input.first().json.decodedXPayment.payload.s = splitSig.s;\n    $input.first().json.decodedXPayment.payload.v = splitSig.v;\n\n    $input.first().json.contractMethodId = Object.values(paymentTokens).find(\n      (entry) => entry.network.toLowerCase() === (decodedXPaymentJson.network || \"\").toLowerCase()\n     ).contractMethodId;\n    console.log(\"asdf\", $input.first().json.contractMethodId)\n\n    return $input.all();\n} catch (error) {\n    // Return an error object if the token format is invalid\n    return { \n      error: {\n        errorMessage: \"Could not decode x-payment header\", \n        paymentConfigs: accepts\n      } \n    };\n}\n\nreturn $input.all();\n\n"
      },
      "typeVersion": 2
    },
    {
      "id": "047a1fd3-490a-495e-bd61-78dceb718fea",
      "name": "Response: Payment Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        176,
        368
      ],
      "parameters": {
        "options": {
          "responseCode": 402
        },
        "respondWith": "json",
        "responseBody": "={\n  \"x402Version\": \"1\",\n  \"error\": \"X-PAYMENT header did not verify: {{ ($('Settle Payment')?.item.json.failureReason || \"\").replace(/\"/g, \"'\")  }}\",\n  \"accepts\": {{ JSON.stringify($('Validate & Verify X-Payment Header').item.json.accepts) }}\n} "
      },
      "typeVersion": 1.3
    },
    {
      "id": "277e5e82-35b6-42ae-9d34-4f5956731286",
      "name": "Response: Payment Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -48,
        464
      ],
      "parameters": {
        "options": {
          "responseCode": 402
        },
        "respondWith": "json",
        "responseBody": "={\n  \"x402Version\": \"1\",\n  \"error\": \"X-PAYMENT header did not verify: {{ $('Verify Payment')?.item.json.error?.decodedData?.args?.[0] || \"\" }}\",\n  \"accepts\": {{ JSON.stringify($('Validate & Verify X-Payment Header').item.json.accepts) }}\n} "
      },
      "typeVersion": 1.3
    },
    {
      "id": "7b967cfe-6980-41ee-9777-b2128b07dc6a",
      "name": "Payment Token Configs",
      "type": "n8n-nodes-base.code",
      "onError": "continueRegularOutput",
      "position": [
        -944,
        464
      ],
      "parameters": {
        "jsCode": "// put your resource description here\nconst resourceDescription =  \"x402 Gateway for n8n\"; \n// set the correct address to send payments to\nconst payTo = \"0x9fead8b19c044c2f404dac38b925ea16adaa2954\"; \n// the amount of time in seconds the authorization should be good for\nconst timeOut = 60;\n// use this config to supply the payment token information for the tokens you want to get paid in\n// the contractMethodId comes from the 1Shot API dashboard. Click on the `transferWithAuthorization` method details button and copy its ID from there.\nconst paymentTokens = [\n  {\n    maxAmountRequired: \"1000000\",\n    tokenAddress: \"0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238\",\n    chain: \"11155111\",\n    name: \"USDC\",\n    version: \"2\",\n    contractMethodId: \"\",\n    network: \"sepolia\"\n  },\n  {\n    maxAmountRequired: \"1000000\",\n    tokenAddress: \"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913\",\n    chain: \"8453\",\n    name: \"USD Coin\",\n    version: \"2\",\n    contractMethodId: \"\",\n    network: \"base\"\n  },\n  {\n    maxAmountRequired: \"1000000\",\n    tokenAddress: \"0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E\",\n    chain: \"43114\",\n    name: \"USD Coin\",\n    version: \"2\",\n    contractMethodId: \"\",\n    network: \"avalanche\"\n  },\n  {\n    maxAmountRequired: \"1000000\",\n    tokenAddress: \"0xaf88d065e77c8cc2239327c5edb3a432268e5831\",\n    chain: \"42161\",\n    name: \"USD Coin\",\n    version: \"2\",\n    contractMethodId: \"\",\n    network: \"arbitrum\"\n  }\n];\n\n$input.first().json.resourceDescription = resourceDescription;\n$input.first().json.payTo = payTo;\n$input.first().json.timeOut = timeOut;\n$input.first().json.paymentTokens = paymentTokens;\n\nreturn $input.all();\n\n"
      },
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "id": "dd5dafa3-c28a-421c-ac26-ee3cc6cf3a31",
      "name": "Settle Payment",
      "type": "n8n-nodes-1shot.oneShotSynch",
      "onError": "continueRegularOutput",
      "position": [
        -48,
        272
      ],
      "parameters": {
        "params": "={\n\"to\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.to }}\",\n\"from\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.from }}\",\n\"value\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.value }}\",\n\"validAfter\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.validAfter }}\",\n\"validBefore\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.validBefore }}\",\n\"nonce\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.nonce }}\",\n\"v\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.v }}\",\n\"r\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.r }}\",\n\"s\": \"{{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.s }}\"\n}",
        "additionalFields": {
          "memo": "=x402 payment from {{ $('Validate & Verify X-Payment Header').item.json.decodedXPayment.payload.authorization.from }} "
        },
        "contractMethodId": "={{ $('Validate & Verify X-Payment Header').item.json.contractMethodId }}"
      },
      "credentials": {
        "oneShotOAuth2Api": {
          "id": "jP7SSPvd49ICndjA",
          "name": "1Shot account 2"
        }
      },
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "id": "5be903e1-a23c-4d2e-8907-441f22774e4f",
      "name": "Verify Payment",
      "type": "n8n-nodes-1shot.oneShot",
      "onError": "continueRegularOutput",
      "position": [
        -496,
        368
      ],
      "parameters": {
        "params": "={\n  \"from\": \"{{ $json.decodedXPayment.payload.authorization.from }}\",\n  \"to\": \"{{ $json.decodedXPayment.payload.authorization.to }}\",\n  \"value\": \"{{ $json.decodedXPayment.payload.authorization.value }}\",\n  \"validAfter\": \"{{ $json.decodedXPayment.payload.authorization.validAfter }}\",\n  \"validBefore\": \"{{ $json.decodedXPayment.payload.authorization.validBefore }}\",\n  \"nonce\": \"{{ $json.decodedXPayment.payload.authorization.nonce }}\",\n  \"v\": \"{{ $json.decodedXPayment.payload.v }}\",\n  \"r\": \"{{ $json.decodedXPayment.payload.r }}\",\n  \"s\": \"{{ $json.decodedXPayment.payload.s }}\"\n} ",
        "operation": "simulate",
        "contractMethodId": "={{ $('Validate & Verify X-Payment Header').item.json.contractMethodId }}"
      },
      "credentials": {
        "oneShotOAuth2Api": {
          "id": "jP7SSPvd49ICndjA",
          "name": "1Shot account 2"
        }
      },
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ef7d5f1-03d7-453c-b5ac-09c25f98a691",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Payment Token Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settle Payment": {
      "main": [
        [
          {
            "node": "Response: 200 - Payment Successful",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Payment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Payment": {
      "main": [
        [
          {
            "node": "On Successful Payment Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Token Configs": {
      "main": [
        [
          {
            "node": "Validate & Verify X-Payment Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Successful Payment Simulation": {
      "main": [
        [
          {
            "node": "Settle Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Payment Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Verify X-Payment Header": {
      "main": [
        [
          {
            "node": "Verify Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Missing or Invalid Payment Headers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}